mixin reviewForm(store)
    form(action=`/reviews/${store._id}` method="POST")
        textarea(name="text" placeholder="Ever been here? Leave a review!")
        .reviewer__meta
            .reviewer__stars
                //-to click a label and get input associated with it, id and for must match
                each num in [5, 4, 3, 2, 1]
                    input(type="radio" required id=`star${num}` name="rating" value=num)
                    label(for=`star${num}`) #{num} Stars
            input.button(type="submit" value="Submit Review")